[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gym = {extras = ["atari"], version = "==0.9.3"}
scipy = "*"
cloudpickle = "*"
easy-tf-log = {git = 'https://github.com/mrahtz/easy-tf-log'}
matplotlib = "*"


[dev-packages]

nose = "*"
termcolor = "*"
memory_profiler = "*"
